.cache/
.config/
.gitconfig
.oh-my-zsh/.gitignore
.oh-my-zsh/CONTRIBUTING.md
.oh-my-zsh/LICENSE.txt
.oh-my-zsh/README.md
.oh-my-zsh/lib/
.oh-my-zsh/oh-my-zsh.sh
.oh-my-zsh/plugins/
.oh-my-zsh/templates/
.oh-my-zsh/themes/
.oh-my-zsh/tools/
.pyload/
.wget-hsts
.zcompdump-alarm-5.4.2
.zcompdump-odroidspark-5.4.2
.zcompdump-odroidspark-5.5.1
.zsh-update
.zsh_history

