.cache/
.config/
.gitconfig
.java/
.jd/
.oh-my-zsh/.gitignore
.oh-my-zsh/CONTRIBUTING.md
.oh-my-zsh/LICENSE.txt
.oh-my-zsh/README.md
.oh-my-zsh/lib/
.oh-my-zsh/oh-my-zsh.sh
.oh-my-zsh/plugins/
.oh-my-zsh/templates/
.oh-my-zsh/themes/
.oh-my-zsh/tools/
.oh-my-zsh/.github/
.oh-my-zsh/CODE_OF_CONDUCT.md
.pyload/
.wget-hsts
.zcompdump
.zcompdump-alarm-5.4.2
.zcompdump-odroidspark-5.4.2
.zcompdump-odroidspark-5.5.1
.zcompdump-odroidspark-5.7.1
.zsh-update
.zsh_history
PyPlex/
config/smb.conf
.wiringPi
