.cache/
.config/
.gitconfig
.java/
.jd/
.oh-my-zsh
.pyload/
.wget-hsts
.zcompdump
.zcompdump-odroidspark-5.4.2
.zcompdump-odroidspark-5.5.1
.zcompdump-odroidspark-5.7.1
.zcompdump-odroidspark-5.8
.zsh-update
.zsh_history
PyPlex/
config/smb.conf
wiringPi/
.viminfo
.kodi/
.ssh/
