[Unit]
Description=Fan Control

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/odroid/./.script/fan_control

[Install]
WantedBy=multi-user.target
